.App {
  align-content: center;
  height: 513px;
  background-image: url("https://c4.wallpaperflare.com/wallpaper/270/628/878/anime-one-piece-portgas-d-ace-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  
} 

 



